<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{static_url('css/main.css')}}" type="text/css"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{{static_url('js/vue.js')}}"></script>
    <script src="{{static_url('js/vue-resource.js')}}"></script>
     <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Netto Configure Web</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">首页</a></li>
                <li><a href="/service">服务</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle a1" data-toggle="dropdown" href="#">
                        <span><i class="el-icon-plus"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/app/create">创建应用</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle a1"
                       data-toggle="dropdown" href="#"> {{username}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);">修改密码</a></li>
                        <li><a href="/logout">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" id="console">
    <div><h4>{{cur_env}}</h4></div>
    <div>
        <template>
            <el-tabs v-model="activeName" @tab-click="chageTab">
                <el-tab-pane label="调度管理" name="scheduler"></el-tab-pane>
                <el-tab-pane label="服务器分组" name="group"></el-tab-pane>
                <el-tab-pane label="路由" name="router"></el-tab-pane>
                <el-tab-pane label="权限管理" name="auth"></el-tab-pane>
                <el-tab-pane label="应用配置" name="setting"></el-tab-pane>
            </el-tabs>
        </template>
    </div>
    <div>place to show auth table</div>
</div>
<script type="text/javascript">
    Vue.component('modal', {
        template: '#modal-template'
    })
    var v = new Vue({
        delimiters: ['[[', ']]'],
        el: '#console',
        data: {
            activeName: 'auth'
        },
        methods: {
             chageTab(tab, event) {
                window.location.href = '/'+tab.name+'?env={{cur_env}}'
            }
        }
    });
</script>
</body>
</html>